defusedxml==0.6.0
nltk==3.4.5
six==1.12.0
rake_nltk==1.0.4
matplotlib==3.1.1
selenium==3.141.0
webdriver_manager==2.2.0
docutils==0.15.2
Django==2.2.8
numpy==1.17.3
pdfminer.six==20191020
plac==1.1.0
lxml==4.4.1
scikit_learn==0.21.3
psycopg2>=2.7,<3.0