defusedxml==0.6.0
nltk==3.4.5
six==1.14.0
rake_nltk==1.0.4
matplotlib==3.1.1
selenium==3.141.0
webdriver_manager==2.3.0
docutils==0.16
pdfminer.six==20200121
numpy==1.18.1
Django==3.0.2
plac==1.1.0
lxml==4.4.2
scikit_learn==0.22
psycopg2>=2.7,<3.0