webdriver_manager==1.7
nltk==3.4.3
docutils==0.15.2
six==1.12.0
numpy==1.16.4
selenium==3.141.0
plac==1.0.0
pdfminer.six==20181108
Django==2.2.3
rake_nltk==1.0.4
matplotlib==3.1.0
lxml==4.4.0
scikit_learn==0.21.3
