@charset "UTF-8";
/**
 * styles.css
 *
 * Global CSS.
 *
 * Gabriel Ghiuzan
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Cabin);

#responses {
	margin: auto;
	width: 80%;
	height: 80%;
	font: 15px arial, sans-serif;
	background: rgba(255, 255, 255, 0.7);
    border: 1px solid;
    padding: 20px 25px 25px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
	overflow-y: scroll; /* Add vertical scrollbar */
}

/* unvisited link */
a:link {
	color: darkblue;
}

/* visited link */
a:visited {
	color: darkblue;
}

/* mouse over link */
a:hover {
	color: blue;
}

/* selected link */
a:active {
	color: blue;
}

p
{
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
}

html, body {
	height: 100%;
    display: block;
}

#input {
	width: 90%;
	min-width: 535px;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.top-padding {
	margin-top: 20%;
}

.user-message {
	background-color: rgba(0, 67, 255, 0.33);
}

.chat-message {
	background-color: rgba(128, 0, 95, 0.35);
}

button {
  transition: color .5s, background-color .5s;
}

button:hover {
  border-color: black;
  background-color: black;
  color: #847bf7;
}
