{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Head section -->
	<head>

		<link href="{% static 'chatbot/css/bootstrap.min.css' %}" rel="stylesheet"/>
		<link href="{% static 'chatbot/css/bootstrap-theme.min.css' %}" rel="stylesheet"/>
		<link href="{% static 'chatbot/css/styles.css' %}" rel="stylesheet"/>  <!-- Main CSS file -->
        <link rel="icon" href="{% static 'chatbot/images/favicon.ico' %}" type="image/x-icon">

        <meta charset="UTF-8">
        <title>{% block title %} Digital Aristotle {% endblock %}</title>

        {% block css %} {% endblock %}

	    {% block js %} {% endblock %}

	</head>
<body>
{% block content %} {% endblock content %}
</body>
</html>