{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block title %} {{ title }} {% endblock %}</title>
        <meta name="description" content="Chatbot for students">
        <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
        <link href="{% static 'fonts/font-awesome.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'fonts/ionicons.min.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/login.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/admin-area.css' %}" rel="stylesheet"/>
        <link href="{% static 'css/chatbot-messaging.css' %}" rel="stylesheet"/>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src={% static 'js/jquery.min.js' %}></script>
        <script src={% static 'bootstrap/js/bootstrap.min.js' %}></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <script src={% static 'js/new-age.js' %}></script>


        {% block css %} {% endblock %}

	    {% block js %} {% endblock %}

	</head>
{% block content %} {% endblock content %}
</html>