@charset "UTF-8";
/**
 * styles.css
 *
 * Global CSS.
 *
 * Gabriel Ghiuzan
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Cabin);

#bottom
{
	/* shrink bottom's font size */
	font-size: smaller;

	/* surround with whitespace */
	margin: 20px;

	text-align: center;

}

#responses {
	margin: auto;
	width: 80%;
	height: 80%;
	font: 15px arial, sans-serif;
	background: rgba(255, 255, 255, 0.7);
    border: 1px solid;
    padding: 20px 25px 25px;
    overflow-x: hidden; /* Hide horizontal scrollbar */
	overflow-y: scroll; /* Add vertical scrollbar */
}

/* unvisited link */
a:link {
	color: red;
}

/* visited link */
a:visited {
	color: red;
}

/* mouse over link */
a:hover {
	color: blue;
}

/* selected link */
a:active {
	color: blue;
}


.intros
{
	padding-top:25px;
}

p
{
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
}

html, body {
	height: 100%;
    background-size: 20%;
    background: url("../images/background.jpg") no-repeat center;
    display: block;
}

#debugDiv {
	width: 90%;
	min-height: 1.2em;
	max-height: 55vh;
	border: 3px inset #666;
	margin-left: auto;
	margin-right: auto;
	white-space: pre;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: large;
	padding: 1em;
}

#input {
	width: 90%;
	min-width: 535px;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#clearhistory {
	text-align: center;

}