/**
 * styles.css
 *
 * Global CSS.
 *
 * Gabriel Ghiuzan (914067@swansea.ac.uk) 2018
 */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);
@import url(https://fonts.googleapis.com/css?family=Cabin);

@charset "UTF-8";

.container
{
	/* center contents */
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#bottom
{
	/* shrink bottom's font size */
	font-size: smaller;

	/* surround with whitespace */
	margin: 20px;
}

#sidebar
{
	width: auto;
	height: auto;
	position: absolute;
	top:260px;
	left:425px;
	margin: 20px;
	font-family: 'Cabin', sans-serif;
	font-size: 13px;
	background: #ffffff;
	text-transform: uppercase;
	border: 2px solid black;
	border-radius: 10px;
}

#sidebar td
{
	border: 2px solid black;
	padding: 10px;
	border-radius: 5px;
}

a
{
    /*for link references*/
	color: #0D0D65;
}


.intros
{
    padding-top:25px;
}

body
{
	background-image: url("../img/bg-10-full.jpg");
	background-repeat: no-repeat;
  background-size: 100%;
}

p
{
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

body {
		height: 100%;
		margin: 0;
		padding: 0;
}

#responses {
	margin: auto;
	max-width: 550px;
	font: 15px arial, sans-serif;
	background-color: white;
	border-style: solid;
	border-width: 1px;
	padding-top: 20px;
	padding-bottom: 25px;
	padding-right: 25px;
	padding-left: 25px;
	box-shadow: 5px 5px 5px grey;
	border-radius: 15px;
}
#debugDiv {
		width: 90%;
		min-height: 1.2em;
		max-height: 55vh;
		border: 3px inset #666;
		margin-left: auto;
		margin-right: auto;
		white-space: pre;
		font-family: "Lucida Console", Monaco, monospace;
		font-size: large;
		padding: 1em;
		overflow: auto;
}

#input {
		width: 90%;
		min-width: 535px;
		margin-bottom: 15px;
		margin-left: auto;
		margin-right: auto;
}


#convo_id {
		position: absolute;
		top: 10px;
		right: 10px;
		border: 1px solid red;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-shadow: 2px 2px 2px 0 #808080;
		padding: 5px;
		border-radius: 5px;
}
